<ion-content>
  <div class="container">
    <div class="search-bar">
      <ion-searchbar [(ngModel)]="searchTerm" (ionClear)="clearSearch()" (ionEnter)="searchSongs()" placeholder="Buscar canciones o artistas"></ion-searchbar>
      <ion-button (click)="searchSongs()" class="search-button">
        Buscar
      </ion-button>
    </div>

    <div *ngIf="loading">
      <p style="text-align: center; color: #333; font-size: 18px; font-weight: bold;">Cargando...</p>
    </div>

    <div *ngIf="!loading && paginatedSongs.length === 0">
      <p style="text-align: center; color: #333; font-size: 18px; font-weight: bold;">
        No hay canciones disponibles.
      </p>
    </div>

    <ion-list *ngIf="!loading && paginatedSongs.length > 0">
      <ion-item *ngFor="let song of paginatedSongs">
        <ion-thumbnail slot="start">
          <img [src]="song.imageUrl" alt="{{ song.name }}" *ngIf="song.imageUrl">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ song.name }}</h2>
          <p>{{ song.artist }}</p>
          <p>{{ song.releaseDate | date }}</p>
          <div *ngIf="!song.comments || song.comments.length === 0">
            <p>No hay comentarios.</p>
          </div>
          <div *ngIf="song.comments && song.comments.length > 0">
            <p>Comentarios ({{ song.comments.length }}):</p>
            <ion-list>
              <ion-item *ngFor="let comment of song.comments">
                <ion-label>
                  <p>{{ comment.text }}</p>
                  <p>Autor: {{ comment.author }}</p>
                  <p>Estrellas: {{ comment.stars }}</p>
                  <p>Fecha: {{ comment.createdAt | date }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-label>
        <ion-button *ngIf="isLoggedIn" expand="block" (click)="editSong(song._id)" class="custom-button edit-button">Editar</ion-button>
        <ion-button expand="block" (click)="viewSongDetails(song._id)" class="custom-button">Ver Detalle</ion-button>
        <ion-icon
          *ngIf="isLoggedIn"
          name="star"
          [ngClass]="{ 'favorite': isFavorite(song._id) }"
          (click)="toggleFavorite(song._id)"
          class="favorite-star"
        ></ion-icon>
      </ion-item>
    </ion-list>

    <ion-footer>
      <ion-toolbar>
        <div class="button-container">
          <ion-button expand="block" (click)="prevPage()" [disabled]="page === 1" class="custom-button">Anterior</ion-button>
          <ion-button expand="block" (click)="nextPage()" [disabled]="(page * limit) >= filteredSongs.length" class="custom-button">Siguiente</ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>
