/* src/app/components/song-list/song-list.component.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.search-bar {
  padding: 15px;
  background-color: #1db954;
  border-radius: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.custom-button {
  --background: #1db954;
  --color: white;
}

ion-searchbar {
  --background: white;
  --placeholder-color: #b3b3b3;
  --color: black;
}
